{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('locker_new') }}">Create a new locker</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <h1>Lockers list</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Username</th>
            <th>Locker</th>
            <th>Location</th>
            <th>Site</th>
            <th>Numberkey</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for locker in lockers %}
            <tr>
                <td>{{ locker.id }}</td>
                <td>{{ locker.number }}</td>

                <td>
                    {% if locker.user %}
                        {{ locker.user.username }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('locker_show', { 'id': locker.id }) }}">{{ locker.id }}</a>
                </td>
                <td>{{ locker.location }}</td>
                <td>{{ locker.site }}</td>
                <td>{{ locker.numberKey }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('locker_show', { 'id': locker.id }) }}" class="btn btn-info">show</a>
                        <a href="{{ path('locker_edit', { 'id': locker.id }) }}" class="btn btn-warning">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-12">
            <ul class="pagination">
                {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                {% for p in range(1, nbPages) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('paginate', {'page': p}) }}">{{ p }}</a>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}
